extends layout

block content
  p Hello anon!
  
  form(action='/' enctype='multipart/form-data' method='POST') 
    legend Upload any image you want here
    br
    label(for='theimage') Select a file:
    input#theimage(type='file' name='theimage')
    br
    br
    input(type="submit", value="Submit", class="btn btn-primary")
    br
    br
    .divider 
    br
      
  if item != null
    each item in bayImg
      tr 
      td 
        img(src='/images/' + item.filename)
        br
        a(href='/images/' + item.filename) Download

  else
    p(class='center-align') No images uploaded yet
  
