extends layout

block content
  .divider 
  p.center-align Image successfully uploaded!
  .divider
  p.center.align Your image URL is:
  p.center-align
    - var url = 'http://localhost:5000/bays/' + paste.uniqueID
    a(href=url) #{url}