body {
    padding: 50px;
  }
  
a {
    color: #00B7FF;
  }

.container {
    overflow: hidden;
    width: 25%;
    height: auto;
  }
  
.container img {
    object-fit: fill;
    width: 100%;
    min-height: 100%;
  }

img.resize {
    align-items: center;
    width: 100%; /* you can use % */
    height: auto;
}